@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  margin: 0;
  font-family: 'VT323', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #023047;
  color: #fff;
  font-size: 22px;
  background-image: url('./assets/bg.svg');
}

.title {
  font-family: 'VT323', monospace !important;
  font-size: 75px;
}
.subTitle {
  font-family: 'VT323', monospace !important;
}

code {
  font-family: 'VT323', monospace;
}
